 
.footer-section {
  background: #151414;
  width: 100%;
  
}
  
.copyright-area{
   
  padding: 25px 0;
}
.copyright-text p {
   
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
 